---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Mission from '../components/Mission.astro';
import WhatWeBuild from '../components/WhatWeBuild.astro';
import WhyItMatters from '../components/WhyItMatters.astro';
import VillageCaptains from '../components/VillageCaptains';
import FirstStep from '../components/FirstStep.astro';
import Resources from '../components/Resources';
import Vision from '../components/Vision.astro';
import Support from '../components/Support.astro';
import JoinUs from '../components/JoinUs.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Swasia - Bringing Nature Back to Cities">
  <Header />
  <Hero />
  <Mission />
  <WhatWeBuild />
  <WhyItMatters />
  <VillageCaptains client:visible />
  <FirstStep />
  <div id="resources">
    <Resources client:visible />
  </div>
  <Vision />
  <Support />
  <JoinUs />
  <Footer />
</Layout>
